ul {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(auto, 400px));
    grid-gap: 20px;
}

ul li {
    width: auto;
    min-width: auto;
    padding: 0 0 0 30px;
}

.number {
    font-size: 1.5rem;
}

#etbs {
    grid-template-columns: repeat(2, minmax(auto, 610px));
    justify-content: center;
    grid-template-rows: 50px 275px 275px;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}