:root {
    font-size: 10px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.7rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 10rem;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
}

/*    width: 200px;
    height: 200px;
    border: 5px solid;
    border-radius: 50%;
} */

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
    z-index: 10000;
    animation: loader 3s forwards;
}

@keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -10;
    }
}

.circle {
    border-top: 10px solid #9356DC;
    border-bottom: 10px solid #FF79DA;
    border-left: 10px solid #99E2D0;
    border-right: 10px solid #99E2D0;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 3s linear forwards;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}

.logo {
    margin-top: 10px;
    text-align: center;
    font-family: Shrikhand, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}


label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    padding: 15px 0;
    font-size: 15px;
}

label i {
    margin-right: 10px;
}

input {
    border: none;
    background-color: transparent;
}

.spec {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
    padding: 40px 40px;
}

.presentation {
    line-height: 1;
    font-weight: bold;
    margin-bottom: 10px;
}

.discover {
    color: grey;
    font-weight: normal;
}

.explore {
    justify-content: center;
    background: linear-gradient(#FF79DA, #9356DC);
    padding: 15px;
    border-radius: 30px;
    color: white;
    font-size: 1.8rem;
    margin: 20px auto;
    box-shadow: 3px 3px 10px rgba(9, 9, 9, 0.25);
    cursor: pointer;
}

.explore:hover {
    opacity: 0.8;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
}

#working {
    padding: 20px;
}

#working h2 {
    margin-bottom: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    gap: 20px;
}

li.number:nth-child(1)::before {
    content: "1";
}

li.number:nth-child(2)::before {
    content: "2";
}


li.number:nth-child(3)::before {
    content: "3";
}

li:nth-child(3) {
    background-color: rgba(147, 86, 220, 0.16);
}

li.number::before {
    background-color: #9356DC;
    color: white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
}

.number {
    font-size: 1.6rem;
    padding: 0 30px;
    display: flex;
    height: 80px;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 5px 10px lightgrey;
}


.symbol {
    width: 30px;
}

.violet {
    color: #9356DC;
}

#etbs {
    display: grid;
    grid-template-rows: 50px 275px 275px 275px 275px;
    padding: 70px 20px;
    gap: 20px;
    background-color: #e6e6e6;
}

#etbs a {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px lightgrey;
    position: relative;
}

.restaurant_card::before {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    content: "Nouveau";
    background: #99E2D0;
    color: #278870;
    font-size: 15px;
    font-weight: bold;
}

figure {
    height: 100%;
}

img {
    height: calc(100% - 80px);
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

figcaption {
    color: black;
    height: 80px;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
}

figcaption p {
    font-size: 1.6rem;
}

.heart {
    position: absolute;
    top: 15px;
    right: 20px;
}

.far.heart:hover ~ .fas.heart, .fas.heart:hover {
    display: inline-block;
    background-image: linear-gradient(100deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transform: scale(0);
}

@keyframes heart {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }

}

.fas.heart {
    animation: heart 1s ease-in forwards;
}

i.dnone {
    display: none;
}

footer {
    background-color: #282828;
    color: #FFF;
    padding: 30px 20px;
}

.footer_logo {
    margin-bottom: 15px;
    font-family: Shrikhand, Helvetica sans-serif;
    font-weight: bold;
}

footer a {
    display: block;
    color: #e6e6e6;
    font-size: 15px;
}

footer i {
    width: 30px;
}
